*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle,#ff4b6e,#130008);

    font-family:Arial, sans-serif;

    overflow:hidden;

    color:white;

}



.container{

    text-align:center;

}



h1{

    font-size:35px;

    margin-bottom:10px;

}



.subtitle{

    font-size:18px;

    margin-bottom:30px;

}



/* POKEBOLA */

.pokeball{

    width:280px;

    height:280px;

    position:relative;

    margin:auto;

    cursor:pointer;

}



/* PARTE ROJA */

.top{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:50%;

    background:#e60012;

    border-radius:
    140px 140px 0 0;

    z-index:5;

    transition:1s;

    transform-origin:bottom;

    box-shadow:
    inset 0 -10px 20px #990000;

}



/* PARTE BLANCA */


.bottom{

    position:absolute;

    bottom:0;
    left:0;

    width:100%;
    height:50%;

    background:white;

    border-radius:
    0 0 140px 140px;

    z-index:4;

    box-shadow:
    inset 0 10px 20px #aaa;

}



/* CENTRO */

.center{

    position:absolute;

    top:50%;

    width:100%;

    height:15px;

    background:black;

    z-index:8;

}



.button{

    position:absolute;

    left:calc(50% - 35px);

    top:-27px;

    width:70px;

    height:70px;

    background:white;

    border:12px solid black;

    border-radius:50%;

}



/* LUZ */

.energy{

    position:absolute;

    width:100%;

    height:100%;

    background:white;

    border-radius:50%;

    opacity:0;

    z-index:2;

}



/* POKEMON */

.pokemon{

    position:absolute;

    width:160px;

    left:calc(50% - 80px);

    bottom:110px;

    opacity:0;

    transform:
    translateY(80px)
    scale(.5);


    z-index:6;

    transition:1.2s;

}



/* CARTA */


.card{

    position:absolute;

    width:240px;

    left:20px;

    bottom:80px;


    background:

    linear-gradient(
    135deg,
    #fff,
    #ffd6ef
    );


    color:#333;

    padding:20px;

    border-radius:20px;


    opacity:0;

    transform:
    translateY(100px)
    scale(.5);


    z-index:7;


    transition:1s;


    box-shadow:

    0 0 25px pink;


}



.card h2{

    color:#e60012;

    margin-bottom:10px;

}



.card p{

    font-size:14px;

}


/* PARTICULAS */


.particles span{

    position:absolute;

    width:10px;

    height:10px;

    background:white;

    border-radius:50%;

    opacity:0;

}




.particles span:nth-child(1){

left:20%;
top:40%;

}


.particles span:nth-child(2){

right:20%;
top:30%;

}


.particles span:nth-child(3){

left:40%;
top:20%;

}


.particles span:nth-child(4){

right:40%;
top:60%;

}




/* BOTONES */


button{

    margin:20px 5px;

    padding:12px 25px;

    border:none;

    border-radius:20px;

    cursor:pointer;

    font-size:16px;

}



#openBtn{

    background:#e60012;

    color:white;

}



#resetBtn{

    background:white;

}



/* ANIMACIÓN AL ABRIR */


.open .top{

    transform:
    translateY(-140px)
    rotateX(70deg);

}



.open .energy{

    animation:flash 1s;

}



.open .pokemon{

    opacity:1;

    transform:
    translateY(-50px)
    scale(1);

}



.open .card{

    opacity:1;

    transform:
    translateY(-170px)
    scale(1);

}

.open .particles span{

    opacity:1;

    animation:
    particles 2s infinite;

}



@keyframes flash{


0%{

transform:scale(.2);

opacity:1;

}


100%{

transform:scale(2);

opacity:0;

}


}



@keyframes particles{


0%{

transform:translateY(0);

}


100%{

transform:translateY(-150px);

opacity:0;

}


}



@media(max-width:500px){


h1{

font-size:28px;

}


.pokeball{

width:240px;

height:240px;

}


.card{

width:210px;

left:15px;

}


}